{% autoescape off %}
<!DOCTYPE html>
<body>
    <div>
        <div class='header'>
            MasterPic's 회원가입 이메일 인증 발송
        </div>
        <div class='body'>
            <div class='content'>
                MasterPic's에 회원가입을 해주셔서 감사합니다. <br>
                아래의 '인증하기'를 클릭하여 이메일 인증을 완료해주세요.
            </div>
            <div class='smtp_email_auth'>
                <a href="http://{{ domain }}{% url 'profile:local_signup_auth' uid64=uid token=token %}">인증하기</a>
            </div>
        </div>
    </div>           
</body>
</html>
{% endautoescape %}