{% extends 'core/layout.html' %}

{% load static %}

{% block content %}
<div class="signup__container">
    <div class="login__logo">
        {% comment %}
            To. 현지
            로고 들어가는 곳. 지금은 로고 사진이 없어서 src 빈칸으로 둠
        {% endcomment %}
        <img src="" alt="MasterPic's_logo">
    </div>
    
    <div class="ToS__body">
        {% comment %}
            To. 현지
            약관 내용이 여기 들어가는게 좋을 것 같아서 일단 여기 뒀는데, 디자인팀과의 회의 후에 정해지면 다시 말해줄게!!ㅎㅎ
        {% endcomment %}
        <span class="ToS__title">
            개인정보 수집 및 이용에 대한 안내
        </span>
        <br>
        <br>
        마스터픽스 사용을 위해 그냥 동의해주세요
    </div>

    <div class="signup__body">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-field-group {{ field.name }}_group">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 {{ field.name }} ">{{ field.label }}</label>
                    <div class='col-sm-10 {{ field.name }}'>
                        {{ field }}

                        {% comment %}
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text }}</p>
                            {% endif %}
                        {% endcomment %}
                        
                        {% if field.errors|length > 0 %}
                            <div class='field-error__container'>
                                {% for error in field.errors %}
                                    <label for="{{ field.id_for_label }}" class="field-error">{{ error }}</label>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <input type="submit" class="submit_btn " value="가입하기" />
        </form>
    </div>
</div>
{% endblock content%}