{% extends 'core/layout.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile/local_signup.css' %}">
{% endblock stylesheet %} 

{% block content %}
<div class="signup__container">
    <div class="login__logo">
        MasterPic's
    </div>

    <div class="signup__body">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            {% if field.id_for_label == 'id_is_ToS' %}

            {% else %}
                <div class="form-field-group {{ field.name }}_group">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 {{ field.name }} ">{{ field.label }}</label>
                    <div class='col-sm-10 {{ field.name }}'>
                        {{ field }}

                        {% comment %}
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text }}</p>
                            {% endif %}
                        {% endcomment %}
                        
                        {% if field.errors|length > 0 %}
                            <div class='field-error__container'>
                                {% for error in field.errors %}
                                    <label for="{{ field.id_for_label }}" class="field-error">{{ error }}</label>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% endfor %}

            <!--Tos 분리-->
            <div class="form__group {{ form.is_ToS.name }}}">
                <div class="form__label">
                    <label for="id_is_ToS" class = "id_is_ToS">약관 및 개인정보 수집 동의</label>
                </div>
                <div class="form__input">
                    {{form.is_ToS}}
                </div>

                {% if form.is_ToS.errors|length > 0 %}
                    <div class='field-error__container'>
                        {% for error in form.is_ToS.errors %}
                            <label for="{{ form.is_ToS.id_for_label }}" class="field-error">{{ error }}</label>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>


            <input type="submit" class="submit_btn " value="가입하기" />
        </form>
    </div>
</div>
{% endblock content%}
