{% extends 'core/layout.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile/login.css' %}">
{% endblock stylesheet %} 

{% block content %}
<div class="login__container">
    <div class="login__logo">
       MasterPic's
    </div>

    <div class="login__body">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-field-group {{ field.name }}_group">
                    <div class='{{ field.name }}'>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            {% if messages %}
                {% comment %} {% for msg in messages%}
                    {% if msg.tags == 'success' %}
                        <div class='login__form-success'>
                            {{ msg }}
                        </div>
                    {% else %}
                        <div class='login__form-error'>
                            {{ msg }}
                        </div>
                    {% endif %}
                {% endfor %} {% endcomment %}
            {% elif error %}
                <div class='login__form-error'>
                    {{ error }}
                </div>
            {% endif %}
            
            <input type="submit" class="submit_btn " value="로그인" />
        </form>
    </div>
 

    <div class="sub-login__container">
        <div class="to-find__container">
            <!--
            <a href="{% url 'profile:recovery_pw' %}" class="to_find-id">
                아이디
            </a>
            /
            -->
            <a href="{% url 'profile:recovery_pw' %}" class="to_find-pw">
                비밀번호 찾기
            </a>
        </div>

        <div class="to-signup__container">
            <a href="{% url 'profile:local_signup' %}" class="to-signup">
                회원가입
            </a>
        </div>
    </div>
    <hr style="width:24%; height:1.5px; border:none;background-color:B4B4B4;">

    </br>
    <div class="social-login__container">
        <div class="social-login__title">
            소셜 로그인
        </div>
        <div class="social-login__body">
            <li><div class="google"></div><a href="{% url 'google_login' %}">구글 로그인</a></li>
            <li><div class="naver"></div><a href="{% url 'naver_login' %}">네이버 로그인</a></li>
        </div>
    </div>
</div>
{% endblock content%}