{% extends 'core/layout.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/profile/profile_detail.css' %}">
{% endblock stylesheet %}


{% block content %}
    <div class="container">
        <div>{{request.user.username}}</div>
        <div>
            {% for tagged_portfolio in tagged_portfolios %}
                <div>
                    {{ tagged_portfolio.id }}
                    {{ tagged_portfolio.title }}
                    {{ tagged_portfolio.like_count }}
                    {{ tagged_portfolio.view_count }}
                    {{ tagged_portfolio.thumbnail }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content%}




{% block script %}

<script type="text/javascript" src="{% static 'js/profile/profile_detail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile/profile_detail_posts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile/profile_detail_saves.js' %}"></script>
{% endblock script %}