{% extends 'core/layout.html' %}

{% load static %}

{% block content %}
<div class="modify__container">
    <div class="modify__body">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="form-id" class="col-sm-2 {{field.name}} ">{{field.label}}</label>
                        <div class='col-sm-10 {{field.name}}'>
                            {{ field }}
                            {% comment %} {% if field.help_text %}
                                <p class="help-block">{{ field.help_text }}</p>
                            {% endif %} {% endcomment %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            {% endfor %}
            <input type="submit" class="update_btn " value="프로필 변경" />
        </form>
    </div>
</div>
{% endblock content%}