{% extends 'core/layout.html' %}

{% load static %}

{% block content %}
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <div>
            <label name="label_new_password1" for="{{ form.new_password1.id_for_label }}">
                {{ form.new_password1.label }}
            </label>
            {{ form.new_password1 }}

            {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                    <div>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div>
            <label name="label_new_password2" for="{{ form.new_password2.id_for_label }}">
                {{ form.new_password2.label }}
            </label>
            {{ form.new_password2 }}

            {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                    <div>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div>
            <button>저장하기</button>
        </div>
        </div>
    </form>

{% endblock content%}