{% extends 'core/layout.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile/smtp_sending_success.css' %}">
{% endblock stylesheet %} 

{% block content %}
    <div class="modify__container">
        <div class="modify__body">
            <div class="email_title">이메일 인증을 해주세요</div>
            <div class="email_info">
                <li>입력하신 이메일 주소로 인증 메일이 발송되었습니다.</li>
                <li>받으신 이메일을 열어 인증 버튼을 선택하시면</li>
                <li>회원가입이 완료됩니다.</li>
        
                <div class="email_end">인증 후 로그인이 가능합니다</div>
            </div>
            <!--
            {% if messages %}
                {% for msg in messages %}
                    {{ msg.message }}
                {% endfor %}
            {% endif %}
            -->
        </div>
    </div>
{% endblock content%}