@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*layout*/

#nav {
  background-color: #F4F4F4;
}

nav {
  background-color: #fff;
}

nav a {
  color: black;
}

#footer{
    background-color: #C4C4C4;
}

body{
  height: 100%;
}

.container{
  background-color: #F4F4F4;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*signup*/

.signup__container{
 width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.login__logo {
    font-size: 32px;
    font-family: "DM Serif Display", serif;
    margin-bottom: 20px;
}

.ToS__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    margin-bottom: 20px;
}  

  .signup__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.signup__body form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  padding-top: 8px;
  padding-bottom: 10px;
  width: 25%;
  font-size: 8pt;
  font-weight: 500;
  line-height: 25px;
  font-family: 'Noto Sans KR', sans-serif;
  
}

.signup__body form input {
    width: 100%;
    height: 35px;
    border: 1px solid #CFCFCF;
    padding-left: 10px;
}

.signup__body form > .submit_btn {
    height: 40px;
    width: 100%;
    background-color: #888888;
    border: #00000000 1px solid;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 8pt;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
.signup__body form > .submit_btn:hover{
  background-color: #5200ff;
}
.id_is_ToS{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 8%;
}

.id_is_ToS:hover{
  cursor: pointer;
}

#id_is_ToS{
  width: 15px;
  margin-left: 96%;
  margin-top: -30px;
}

input[type="password"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

/* modal */

.form__label #modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.form__label #modal .modal-window {
  background: #FFFFFF;
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 30px;
  border: 1px solid #494949;
  width: 600px;
  height: 500px;
  position: relative;
  top: -35px;
  padding: 10px;
}

.form__label #modal .modal_logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: "DM Serif Display", serif;
  margin-top: 10px;
}

.form__label #modal .title {
  margin-left: 20px;
  color: black;
  margin-top: 20px;
  
}
.form__label #modal .title h3 {
  display: inline;
}
.form__label #modal .close-area {
  cursor: pointer;
  color: black;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
  margin-top: 0px;
  width: 100px;
  height: 30px;
  margin: 20px auto;
  padding: 2px;
  text-align: center;
}

.form__label #modal .content {
  margin-top: 10px;
  margin-left: 30px;
  padding: 0px 10px;
  color: black;
  overflow:scroll;
  width: 530px;
  height: 140px;
  border: 1.5px solid #CACACA;
  border-radius: 2px;
}

/* 반응형 */

@media screen and (min-width:360px) and (max-width:512px) {
  
.login__logo {
    margin-top: -50px;
    margin-bottom: 20px;
}

.ToS__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    margin-bottom: 20px;
}  

.signup__body form {
  width: 60%;
}

.signup__body form input {
    width: 100%;
    height: 35px;
    border: 1px solid #CFCFCF;
    padding-left: 10px;
}

.signup__body form > .submit_btn {
    height: 40px;
    width: 100%;
    background-color: #888888;
    border: #00000000 1px solid;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 8pt;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
.signup__body form > .submit_btn:hover{
  background-color: #5200ff;
}
.id_is_ToS{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 10%;
}

#id_is_ToS{
  width: 15px;
  margin-left: 94%;
  margin-top: -30px;
}

input[type="password"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.navbar__toogleBtn {
  color: black;
}

/* modal */

.form__label #modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.form__label #modal .modal-window {
  background: #FFFFFF;
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 30px;
  border: 1px solid #494949;
  width: 350px;
  height: 500px;
  position: relative;
  top: -35px;
  padding: 10px;
}

.form__label #modal .modal_logo {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: "DM Serif Display", serif;
  margin-top: 10px;
}

.form__label #modal .title {
  margin-left: 20px;
  color: black;
  margin-top: 20px;
  
}
.form__label #modal .title h3 {
  display: inline;
}
.form__label #modal .close-area {
  cursor: pointer;
  color: black;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
  margin-top: 0px;
  width: 80px;
  height: 30px;
  margin: 20px auto;
  text-align: center;
}

.form__label #modal .content {
  margin-top: 10px;
  margin-left: 20px;
  padding: 0px 10px;
  color: black;
  overflow:scroll;
  width: 300px;
  height: 140px;
  border: 1.5px solid #CACACA;
  border-radius: 2px;
}


}