/*layout*/

#nav {
  background-color: #FFF;
}

nav {
  background-color: #fff;
}

nav a {
  color: black;
}

#footer{
    background-color: #C4C4C4;
}

body{
  height: 100%;
}

.dropbtn {
  color: black;
  border: none;
  background-color: transparent;
}