* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

label {
  font-size: 1.1rem;
}

.clear {
  font-size: 1.2rem;
}

.form-group {
  margin: 20px 60px;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.image > label {
  font-size: 1rem;
}

.username input,
.first_name input,
.last_name input,
.email input,
.category input,
.password1 input,
.password2 input {
  border: 0;
  padding: 1px;
  font-size: 1.1em;
  border: solid 1px #ccc;
  margin-top: 4px;
  width: 80%;
  border-radius: 3px;
}

.username input:focus,
.first_name input:focus,
.last_name input:focus,
.email input:focus,
.category input:focus,
.password1 input:focus,
.password2 input:focus {
  outline: none !important;
  border-color: #000000;
  box-shadow: 0 0 10px #000000;
}

select {
  border: 0;
  padding: 1px;
  font-size: 1rem;
  border: solid 1px #ccc;
  margin-top: 5px;
  width: 50%;
  border-radius: 3px;
}

input.update_btn {
  position: absolute;
  left: 72%;

  background-color: rgb(224, 224, 224);
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  padding: 8px 10px;
  margin-left: 60px;
}

input.update_btn:hover {
  cursor: pointer;
}

.image a,
.image .form-id {
  margin-left: 2px;
}
