@import 'reset_mobile.css';

.modify__container{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
}

.modify__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    line-height: 40px;
    padding-left: 20px;
    border: 1px solid #CACACA;
    background-color: #FFFFFF;
    font-size: 21px;
    margin-top: 3px;
    font-weight: 500;
}

.header {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
    margin-top: 60px;
}

.content, .smtp_email_auth {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.foot{
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #5200FF;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
