{% extends 'core/layout.html' %}
{% load static %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/place_list.css' %}">
{% endblock stylesheet %}


{% block content %}
<section class="place-header">
    <div class="place-header-content">
        <h2>Place</h2>
        <p>키워드 검색을 통해 나의 시안과 예산에 맞는 촬영 공간을 찾아보고,<br>내가 아는 촬영 장소들을 사람들과 공유해보세요!</p>
        <button class="register-btn"><a href="{% url 'place:place_create' %}">장소 등록하러 가기</a><button>
    </div>
</section>

<section class="place-list">
    <div class="place-list-grid">
        <!--search-->
        <div class="place-search">
            <input type="text" class="form-control search" value="{{ search|default_if_none:"" }}" placeholder="찾고싶은 장소를 검색해보세요!">
            <button class="btn_search" type="button" id="btn_search">찾기</button>
        </div>
        <div style="display:none;">
            <form id="searchForm" method="get" action="{% url 'place:place_list' %}">
                <!--category-->
                <input type="hidden" id="no_pay" name="no_pay" value="{{ no_pay }}">
                <!--sort-->
                <input type="hidden" id="search" name="search" value="{{ search|default_if_none:'' }}">
                <!--search-->
                <input type="hidden" id="sort" name="sort" value="{{ sort }}">
            </form>
        </div>

        <!--filter-->
        <div class="place-filter">

            <!-- 상호무페이 -->
            <div class="pay">
                <label for="no_pay">상호 무페이</label>
                <input type="checkbox" class="no_pay" name="no_pay" value="no_pay">
            </div>
            
            <!--내 위치 주변-->
            <div class="around">
                <label for="around_me">내 위치 주변</label>
                <input type="checkbox" class="around_me" name="around_me" value="around_me">
            </div>

            <!--sort https://wikidocs.net/71806-->
            <div class="sort-box">
                <select name="" id="" class="form-control sort ">
                    <option value="recent" {% if sort == 'recent' %}selected{% endif %}>
                        최신순
                    </option>
                    <option value="save" {% if sort == 'save' %}selected{% endif %}>
                        인기순
                    </option>
                    <option value="pay" {% if sort == 'pay' %}selected{% endif %}>
                        낮은가격순
                    </option>
                </select>
            </div>
            
        </div>
    <hr>
        <!-- 게시글 목록-->
        {% for place in places %}
            <div class="place-content">
                <img class="place-thumbnail" src="{{ place.thumbnail.image.url }}"/>
                <div class="place-content-title">
                    <a href="{% url 'place:place_detail' place.pk %}">
                        <p class="place-title">{{place.title}}</p>
                        <p class="place-address">{{place.location}}</p>
                        <p class="place-desc">{{place.desc}}</p>
                    </a>
                    <div class="place-tag">
                        {% for tag in tags %}
                            <button><a href="">#{{ tag.name }} </a></button>
                        {% endfor %}
                    </div>
                    <div class="user-info">
                        <div class="place-user">    
                            <img class="user-image" src="{{place.user.image.url}}">
                            <div class="user-name">
                                <p class="user-nickname">{{place.user}}</p>
                                <p class="user-category">{{place.user.category}}</p>
                            </div>
                        </div>

                        <div class="place-like-count">
                            <i class="far fa-heart"></i>
                            {% if request_user in place.like_users.all %}
                            <i class="fas fa-heart" type="submit" onclick="onClickLike({{ place.id }})" name="type"
                                value="like"></i>
                            {% else %}
                            <i class="far fa-heart" type="submit" onclick="onClickLike({{ place.id }})" name="type"
                                value="like"></i>
                            {% endif %}
                            <span class="like__content">{{ place.like_users.count }}</span>
                        </div>
                        <div class="place-save">
                            {% if request_user in portfolio.save_users.all %}
                            <i class="fas fa-bookmark" type="submit" onclick="onClickSave({{ place.id }})" name="type"
                                value="save"></i>
                            {% else %}
                            <i class="far fa-bookmark" type="submit" onclick="onClickSave({{ place.id }})" name="type"
                                value="save"></i>
                            {% endif %}
                            <span class="save__content">{{ place.bookmark_users.count }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<div class="place-pagenation">
    <!-- 수정할 예정 : https://cjh5414.github.io/django-pagination/ 
        EL pagination digg style -->
    <span>
    {% if places.has_previous %}
        <a href="?page={{places.previous_page_number}}">이전</a>
    {% endif %}

    Page {{places.number}} of {{places.paginator.num_pages}}</span>

    {% if places.has_next %}
        <a href="?page={{places.next_page_number}}">다음</a>
    {% endif %}        
</div>


{% endblock content %}
</div>


<!--js-->
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b6bc437b6340a6a287508c2a0e89a88b&libraries=services"></script>


<script type="text/javascript" src="{% static 'js/map/place_list_map.js' %}"></script>
<script type="text/javascript" src="{% static 'js/place/place_list.js' %}"></script>

<script src="{% static 'js/place_save.js' %}"></script>
<script src="{% static 'js/place_like.js' %}"></script>
{% endblock script %}

        
