{% extends 'core/layout.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/place_detail.css' %}">


{% endblock stylesheet %}

{% block content %}
<!-- 카테고리 왼쪽에 -->
<main>
    <section class="info-box">
        <div class="user-profile">
            <p class="writer">게시자</p>
        {% if place.user == request_user %}
                <img class="user-image" src={{place.user.image.url}} width="90px" height="90px"/>
                <a class="user-name" href="{% url 'profile:mypage' %}">{{place.user}}</a>
        {% else %}
                <img class="user-image" src={{place.user.image.url}} width="90px" height="90px"/>
                <a class="user-name" href="{% url 'profile:others_profile' place.user.user_identifier %}">{{place.user}}</a>
        {% endif %}
            <p class="user-category">{{place.user.category}}</p>
        </div>
        <div class="place-location-map">
            <div id="map" style="width:100%;height:100%;overflow:hidden;"></div>
        </div>

        <div class="likeSave">
            <div class="like">
                <i class="far fa-heart"></i>
                <p>24</p>
            </div>
            <div class="save">
                {% if request.user in place.save_users.all %}
                    <i class="fas fa-bookmark" type="submit" onClick="onClickSave({{ place.id }})" name="type" value="save"></i>
                {% else %}
                    <i class="far fa-bookmark" type="submit" onClick="onClickSave({{ place.id }})" name="type" value="save"></i>
                {% endif %}
                <p class="save__content">24{{ place.save_users.count }}</p>
            </div>
        </div>
        <div class="place-tag">
            {% for tag in tags %}
                <a href="" class="portfolio_tag tag-button">
                    #{{ tag.name }} 
                </a>
            {% endfor %}
            
        </div>
    </section>

    <section class="place-detail">
        <div class="place-detail-header">
            <h2>{{ place.title }}</h2>

            {% if request.user.pk == place.user.pk %}
                <div class="modify-delete">
                    <button class="modify"><a href="{% url 'place:place_update' place.pk %}">수정</a></button>
                    <button class="delete"><a href="{% url 'place:place_delete' place.pk %}">삭제</a></button>
                </div>
            {% endif %}
    <!--Comment-->
    <div class="comments-{{ place.id }} comments">
        {% for comment in comments %}
        <div class="comment comment-{{ comment.id }}">
            <span>{{ comment.writer }}</span>
            <span>{{ comment.content }}</span>
            <span>{{ comment.created_at }}</span>
            <input class="comment-btn" onclick="onClickDeleteComment({{ comment.id }})" type="submit" value="삭제">
        </div>

        <hr>
        
        <div class="place-detail-info">
            <span><i class="fas fa-map-marker-alt"></i><p id="address">{{ place.location.address }}</p></span>
            <span>{{ place.created_at }}</span>
            <input type="hidden" id="map_address" name="map_address" value="{{ place.location.address }}"/>
        </div>

        <div class="place-images">
            <div class="image-box">
                <img src="{{ place.thumbnail.image.url }}" alt="image">
            </div>
            <div class="image-list">
            {% for image in images %}
                {% if image %}
                <div class="image">
                    <img src="{{ image.image.url }}" alt="images">
                </div>
                {% endif %}
                
            {% endfor %}
            </div>
        </div>

        <p class="place-description">{{place.desc}}</p>
        
        <div class="place-comment">
            <div class="createComment createComment-{{place.id}}">
                <input class="comment__value" type="text" placeholder="후기를 작성해주세요.">
                <input class="comment__btn" onclick="onClickNewComment({{ place.id }})" type="submit" value="댓글 게시">
            </div>
            <div class="comments-{{ place.id }} comments">
                {% for comment in comments %}
                <div class="comment comment-{{ comment.id }}">
                    <div class="comment-content">
                        <div class="comment-image"><img src={{comment.comment.writer.image.url}}/></div>
                        <div>
                            <span class="comment-writer">{{ comment.comment.writer }}</span>
                            <span class="comment-created">{{ comment.comment.created_at }}</span>
                            <p class="comment-text">{{ comment.comment.content }}</p>
                        </div>
                    </div>
                    
                    {% if request.user == comment.comment.writer %} 
                    <div class="modify-delete">
                        <button class="modify"><a href="{% url 'place:place_update' place.pk %}">수정</a></button>
                        <button class="delete" onclick="onClickDeleteComment({{ comment.id }}"><a href="{% url 'place:place_delete' place.pk %}">삭제</a></button>
                    </div>
                    {% endif %}
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="place-pagenation">
            {% if place.get_previous %}
                <a href="?page={{places.previous_page_number}}">이전글</a>
            {% endif %}
            <a href="{% url 'place:place_list' %}">전체글보기</a>
            {% if place.get_next %}
                <a href="?page={{places.next_page_number}}">다음글</a>
            {% endif %}        
        </div>
    </section>
    
</main>
   


{% endblock content%}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b6bc437b6340a6a287508c2a0e89a88b&libraries=services"></script>
<script type="text/javascript"> 
    var address = "{{place.location.address}}"
    var lat = {{place.location.lat}}
    var lon = {{place.location.lon}}
</script>
<script type="text/javascript" src="{% static 'js/place/place_detail.js' %}"></script>

{% endblock script %}