{% extends 'core/layout.html' %}
{% load static %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/place/place_list.css' %}">
{% endblock stylesheet %}


{% block content %}


<div class="place_list">
    <!--category-->
    <div class="placelist_left">
        
    </div>

    <div class="placelist_right">
        <div class="bar">

            <!--search-->
            <div class="input-group">
                <input type="text" class="form-control search" value="{{ search|default_if_none:"" }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn_search" type="button" id="">찾기</button>
                </div>
            </div>

            <!--sort-->
            <div class="sort">
                <select name="" id="" class="form-control sort ">
                    <option value="recent" {% if sort == 'recent' %}selected{% endif %}>
                        최신순
                    </option>
                    <!-- <option value="save" {% if sort == 'save' %}selected{% endif %}>
                        저장순
                    </option> -->
                    <option value="pay" {% if sort == 'pay' %}selected{% endif %}>
                        가격순
                    </option>
                </select>
            </div>


            <!--contact_create-->
            <div class="place_create">
                {% if request.user.is_authenticated %}
                <a class="update_btn" href="{% url 'place:place_create' %}"><i class="far fa-plus-square"></i></a>
                {% endif %}
            </div>

            
            <!-- 모달...어렵네... 지도가 어려운건가 -->
            <!-- <div class="contact_map"> 
                <div id="my_modal">
                    <div id="map"></div>
                    <br />
                    <a class="modal_close_btn">닫기</a>
                </div>

                <button id="popup_open_btn">위치 확인하기</button>
            </div> -->
            <button id="popup_open_btn">
                <a href="{% url 'place:place_map' %}">위치 확인하기</a>
            </button>
        </div>


        <!--contact_list-->
        <div class="content">
            <!---->
            <div class="infinite-container">
                {% for place in places %}

                <div class="infinite-item">
                    <div class="item_top place-{{place.pk}}">

                        <div>
                            {% if place.user == request_user %}
                                <a href="{% url 'profile:profile' %}">
                            {% else %}
                                <a href="{% url 'profile:others_profile' place.user.user_identifier %}">
                            {% endif %}
                                <div class="place_owner">
                                    <div class="user_img">
                                        {% if place.user.image  %}
                                        <img class="profile_image" src="{{place.user.image.url}}" alt="profile_image">
                                        {% else %}
                                        <img class="place_image"
                                            src="https://cdn.iconscout.com/icon/free/png-512/account-profile-avatar-man-circle-round-user-30452.png"
                                            alt="profile_image">
                                        {% endif %}
                                    </div>
                                    <div>{{place.user.username}}</div>
                                </div>
                            </a>
                        </div>
                    
                        <div>
                            <a href="{% url 'place:place_detail' place.pk %}">
                                {{ place.title }}
                            </a>
                        </div>
                        <div class="thumbnail_desc">
                            <img src="{{ place.thumbnail.image.url }}" alt="">
                            <div class="desc">
                                <!-- desc ... -->
                            </div>
                        </div>
                        <div class="pay_date">
                            {% if place.pay == 0 %}
                            Pay : 상호 무페이
                            {% else %}
                            Pay : {{ place.pay }}원
                            {% endif %}
                            <!-- 촬영날짜나 isclosed check되었으면 마감알림 -->
                        </div>
                    </div>

                    <div class="item_bottom">
                        <div class="comment">
                            <i class="far fa-comment-dots"></i>
                            <span class="comment__content">{{ place.place_comments.count }}</span>
                        </div>

                        <div class="save save-{{place.id}}">
                            {% if request.user in place.save_users.all %}
                            <i class="fas fa-bookmark" type="submit" onclick="onClickSave({{ place.id }})" name="type"
                                value="save"></i>
                            {% else %}
                            <i class="far fa-bookmark" type="submit" onclick="onClickSave({{ place.id }})" name="type"
                                value="save"></i>
                            {% endif %}
                            <span class="save__content">{{ place.save_users.count }}</span>
                        </div>

                    </div>


                    <!--
                    <div class="caption">
                        <div class="caption-content">
                            <p>더 알아보기<i style="font-size: 1em;" class="fas fa-search"></i> </p>
                        </div>
                    </div>
                    -->
                </div>

                {% endfor %}
            </div>


            <!-- 무한로딩 보류 -->
            {% if places.has_next %}
            <a class="infinite-more-link" href="?page={{ places.next_page_number }}">
                <div class="loading" style="display: none;">Loading...</div>
            </a>
            {% endif %}

            <!--filter form-->
            <div style="height: 0;">
                <form id="searchForm" method="get" action="{% url 'place:place_list' %}">
                    <!--category-->
                    <input type="hidden" id="category" name="category" value="{{ category }}">
                    <!--sort-->
                    <input type="hidden" id="search" name="search" value="{{ search|default_if_none:'' }}">
                    <!--search-->
                    <input type="hidden" id="sort" name="sort" value="{{ sort }}">
                </form>
            </div>
        </div>


       


        

    </div>

    <div>
{% endblock content %}



<!--js-->
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b6bc437b6340a6a287508c2a0e89a88b&libraries=services"></script>


<script type="text/javascript" src="{% static 'js/map/place_list_map.js' %}"></script>
<script type="text/javascript" src="{% static 'js/place/place_list.js' %}"></script>
{% endblock script %}

        
