html,
body {
  margin: 0;
  font-family: "NanumSquare", sans-serif;
  height: 100%;
}

form {
  display: block;
}

.form-group {
  margin: 20px 60px;
  display: grid;
  grid-template-columns: 200px 1fr;
  color: black;
}

.title input,
.desc textarea,
.location textarea,
.pay input,
.start_date input,
.end_date input {
  border: 0;
  padding: 1px;
  font-size: 1.1em;
  border: solid 1px #ccc;
  margin-top: 4px;
  width: 400px;
  border-radius: 3px;
}

.title input:focus,
.desc textarea:focus,
.location textarea:focus,
.pay input:focus,
.start_date input:focus,
.end_date input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
  color: black;
}

.title input:focus,
.desc textarea:focus,
.location textarea:focus,
.pay input:focus,
.start_date input:focus,
.end_date input:focus {
  outline: none !important;
  border-color: #000000;
  box-shadow: 0 0 10px #000000;
}

select {
  border: 0;
  padding: 1px;
  font-size: 1rem;
  border: solid 1px #ccc;
  margin-top: 5px;
  width: 50%;
  border-radius: 3px;
}

input.btn {
  background-color: rgb(224, 224, 224);
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  padding: 5px 10px;
  margin-left: 600px;
}

input.btn:hover {
  cursor: pointer;
}

.contact_container {
  display: flex;
  background: white;
}

.form-wrapper {
  color: #fff;

  box-sizing: border-box;
  background-color: #fff;
  height: 100vh;
}

.location-form {
  visibility: hidden;
}

.map_wrap {
  color: #fff;
  box-sizing: border-box;
  z-index: 0;
}

.map {
  z-index: 0;
}
