/**layout**/
.container {
  min-height: 100%;
}

.wrapper {
  margin: 100px auto;
}
/******************* header ******************/
.header {
  background-image: url("../img/contact_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 280px;
  width: 100vw;
  padding-left: 10%;
}
.header__title {
  margin-bottom: 20px;
  padding-top: 3%;
  font-size: 24px;
  color: #191919;
}
.header__desc {
  color: #000000;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
}
.header__desc-more {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #000000;
  font-size: 13px;
  font-weight: 600;
}
.header__create-btn {
  width: 150px;
  padding: 15px;
  color: #5200ff;
  border: solid 1px #5200ff;
  border-radius: 34px;
  font-size: 13px;
  margin-right: 10px;
}
/******************* filter ******************/
.filter {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.filter__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__category > span a {
  font-size: 14px;
  color: #4d4d4d;
  margin-right: 22px;
  font-weight: 600;
}
.filter__category > a {
  font-size: 14px;
  color: #4d4d4d;
  margin-right: 22px;
  font-weight: 600;
}
.filter__checkbox {
  font-size: 10px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
.filter__checkbox label {
  margin-right: 3px;
}
.filter__sort {
  position: relative;
}
.filter__sort > select {
  width: 90px;
  font-size: 10px;
  color: #000000;
  padding: 8px 15px;
  border: solid 1px #eeeeee;
  cursor: pointer;
  vertical-align: middle;
  /* 화살표 없애기 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* 화살표 없애기 */
.filter__sort > select::-ms-expand {
  display: none;
}
/* 화살표 커스터마이징 */
.filter__sort > .select__arrow {
  position: absolute;
  top: 12px;
  right: 13px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #c4c4c4 transparent transparent transparent;
}
.filter__sort > select option {
  font-size: 10px;
  color: #000000;
}
.filter__sort > select:focus {
  outline: none;
}
.filter__search {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.filter__search input {
  border: solid 1px #cfcfcf;
  border-radius: 5px;
  height: 28px;
  width: 300px;
  margin-right: 5px;
  padding: 0 10px;
  font-size: 13px;
  color: #acacac;
}
.filter__search input:focus {
  outline: none;
}
.filter__search .btn_search {
  cursor: pointer;
  background-color: #5200ff;
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 7px;
}
.filter__search .btn_search i {
  color: #ffffff;
  font-size: 13px;
}
.line {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 36px;
  border-bottom: solid 1px #a3a3a3;
}
/******************* portfolio-list ******************/
.list {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.grid {
  margin: 0 auto;
}
.list__item-wrapper {
  width: 246px;
  margin-bottom: 25px;
}
.list__top-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__pay-text {
  font-size: 11px;
  color: #5200ff;
}
.list__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-size: 11px;
}
.list__thumbnail {
  margin-bottom: 10px;
}
figure.list__image {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
}
figure.list__image * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.list__image img {
  backface-visibility: hidden;
  vertical-align: top;
  width: 100%;
}
figure.list__image:after,
figure.list__image figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.list__image:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
figure.list__image figcaption {
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
figure.list__image .list__tags-info {
  padding: 0 28px;
  height:2rem;
  line-height:1rem;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size: 0.9rem;
  color: #ffffff;
  opacity: 0;
  font-weight: lighter;
}
figure.list__image:hover img,
figure.list__image.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.list__image:hover:after,
figure.list__image.hover:after {
  opacity: 1;
}
figure.list__image:hover p,
figure.list__image.hover p {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
.list__title {
  margin-bottom: 10px;
  width: 251px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list__title a {
  font-size: 14px;
  color: #000000;
}
.list__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__user > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list__user-img {
  border-radius: 100%;
  width: 27px;
  height: 27px;
  margin-right: 10px;
  object-fit: cover;
}
.list__user-name {
  font-size: 11px;
  color: #000000;
}
.list__user-category {
  font-size: 8px;
  color: #a6a6a6;
}
.list__post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment > .far,
.save > .far {
  color: #6d6d6d;
}
.comment {
  margin-right: 10px;
}
.save {
  cursor: pointer;
}
.save > .fas {
  color: #5200ff;
}
.comment,
.save {
  font-size: 14px;
}
.comment__content {
  font-size: 14px;
  color: #6d6d6d;
}
.save__content {
  display: none;
}
/******************* infinite scroll ******************/
.loading,
.loading:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.loading {
  display: none;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(160, 160, 160, 0.2);
  border-right: 0.3em solid rgba(160, 160, 160, 0.2);
  border-bottom: 0.3em solid rgba(160, 160, 160, 0.2);
  border-left: 0.3em solid rgb(0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.6s infinite linear;
  animation: load8 0.6s infinite linear;
}

.loading.show {
  opacity: 1;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/****************** go to top *******************/
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 60px;
  z-index: 99;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  background-color: #4d4d4d;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#myBtn i {
  font-size: 20px;
  color: white;
}

#myBtn:hover {
  background-color: #5200ff;
}


/****************** responsive *******************/

@media only screen and (max-width: 600px) {
  .header{
    padding-top:20px;
  }
  .header__desc{
    font-size: 16px;
    font-weight:400;
    line-height: 16px;
  }
  .header__desc-more{
    font-size: 12px;
    width:55%;
    font-weight: 400;
    line-height: 16px;
  }
  .header__create-btn{
    padding:12px;
    font-size: 12px;
  }
  .filter{
    flex-direction: column;
    height: 125px;
    width: 90%;
  }
  .filter__right{
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  .filter__category > span a {
    font-size: 12px;
    margin-right: 16px;
    font-weight: 400;
  }
  .filter__category > a {
    font-size: 12px;
    margin-right: 16px;
    font-weight: 400;
  }
  .filter__search{
    margin: 15px 0px;
  }
  .filter__sort > select{
    padding: 6px 20px;
  }
  .filter__sort > .select__arrow{
    top:10px;
  }
  .filter__checkbox{
    order: 3;
    position: absolute;
    left: 0;
    bottom: 5px;
  }
  .line{
    width: 90%;
    margin-top:15px;
  }
  .list{
    width: 90%;
  }
}