{% extends 'core/layout.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/portfolio_update.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> <!--update할때 이미지 제거용-->
<script src="{% static 'js/delete_image.js' %}"></script> <!--update할때 이미지 제거용(core안 js폴더에 존재)-->
{% endblock stylesheet %}


{% block content %}
<div class="wrapper">
    <div class="update">
        <h1 class="update__text">Portfolio 수정하기</h1>
        <div class="update__user">
            {% if request.user.image  %}
            <img class="update__user-img" src="{{request.user.image.url}}" alt="img">
            {% else %}
            <img class="update__user-img"
                src="https://cdn.iconscout.com/icon/free/png-512/account-profile-avatar-man-circle-round-user-30452.png"
                alt="img">
            {% endif %}
            <div class="update__user-name">{{request.user.username}}</div>
            <p class="update__user-category">{{request.user.category}}</p>
        </div>
    </div>          

    <div class="line"></div>

    <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__wrapper">
                <div class="form__left">
                    {% for field in form.visible_fields %}
                    {% if field.id_for_label == 'id_images' %}
                    
                    {% else %}
                        <div class="form__group {{ field.name }}">
                            <div class="form__label">
                                {{ field.label }}
                            </div>                   
                            <div class="form__input">
                                {{ field }}
                                <!-- {% if field.help_text %}
                                    <p class="help-block">{{ field.help_text }}</p>
                                {% endif %} -->
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="form__right">
                    <!-- Image Form -->
                    <div id="image_preview" class="form__group {{ field.name }}">
                        <div class="image-form__label">
                            <label for="id_images">이미지 (최대 10장)</label>
                        </div>                   
                        <div class="form__upload">
                            <p class="form__upload-text">
                                드래그 또는 클릭하여 업로드
                            </p>
                            <div class="form__upload-btn">
                                <i class="fas fa-arrow-up"></i>
                            </div>
                            <div class="form__input">
                                {{ form.images }}
                                <!-- {% if field.help_text %}
                                    <p class="help-block">{{ field.help_text }}</p>
                                {% endif %} -->
                                {% for error in form.images.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id='att_zone' class="form__img">
                            {% for image in images %}
                                <div style="display:inline-block;position:relative;padding:3px;overflow:hidden;" class="{{image.image.pk}}">
                                    <img src="{{image.image.image.url}}" alt="" style="width:65px;height:65px;margin-right:1px;margin-bottom:4px;z-index:none;object-fit:cover;">
                                    <input type="button" onclick="remove(this)" value="x" delfile="{{image.image.image.url}}" style="width:14px;height:14px;position:absolute;right:10px;top:10px;font-size:10px;z-index:999;background-color:#c4c4c4;color:#ffffff;border:0;border-radius:100%;">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form__btn" onclick="remove_all();">
                <input class="form__submit" id="btnSubmit" type="submit" value="수정하기" />
            </div>
        </form>
    </div>
</div>
{% endblock content%}

{% block script %}
<script src="{% static 'js/image_preview.js' %}"></script>
{% endblock script %}