{% extends 'core/layout.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/portfolio_update.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> <!--update할때 이미지 제거용-->
<script src="{% static 'js/image/delete_image.js' %}"></script> <!--update할때 이미지 제거용(core안 js폴더에 존재)-->
{% endblock stylesheet %}


{% block content %}
<div class="wrapper">
    <div class="update">
        <h1 class="update__text">Portfolio 수정하기</h1>
        <div class="update__user">
            <img class="update__user-img" src="{{request.user.image.url}}" alt="img">
            <div class="update__user-name">{{request.user.username}}</div>
            <div class="update__user-category">{{request.user.category}}</div>
        </div>
    </div>          

    <div class="line"></div>

    <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__wrapper">
                <div class="form__left">
                    {% for field in form.visible_fields %}
                    {% if field.id_for_label == 'id_images' %}
                    
                    {% else %}
                        <div class="form__group {{ field.name }}">
                            <div class="form__label">
                                {{ field.label }}
                            </div>                   
                            <div class="form__input">
                                {{ field }}
                                <!-- {% if field.help_text %}
                                    <p class="help-block">{{ field.help_text }}</p>
                                {% endif %} -->
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="form__right">
                    <!-- Image Form -->
                    <div id="image_preview" class="form__group {{ form.images.name }}">
                        <div class="image-form__label">
                            <label for="id_images">이미지 (최대 10장)</label>
                        </div>
                        <!-- image error message -->
                        {% if image_error %}
                            <div class="form__error">
                                {{ image_error }}
                            </div>
                        {% endif %}            
                        <div class="form__upload">
                            <p class="form__upload-text">
                                드래그 또는 클릭하여 업로드
                            </p>
                            <div class="form__upload-btn">
                                <i class="fas fa-arrow-up"></i>
                            </div>
                            <div class="form__input">
                                {{ form.images }}
                                <!-- {% if field.help_text %}
                                    <p class="help-block">{{ field.help_text }}</p>
                                {% endif %} -->
                                {% for error in form.images.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id='att_zone' class="form__img">
                            {% for image in images %}
                                <div class="image-wrapper {{image.image.pk}}">
                                    <img class="image" src="{{image.image.image.url}}" alt="">
                                    <input class="image-check" type="button" onclick="remove(this)" value="x" delfile="{{image.image.image.url}}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form__btn" onclick="remove_all();">
                <input class="form__submit" id="btnSubmit" type="submit" value="수정하기" />
            </div>
        </form>
    </div>
</div>
{% endblock content%}

{% block script %}
<script>
    const existingImgCnt = '{{images_count}}';
</script>
<script src="{% static 'js/portfolio_img_prev.js' %}"></script>
{% endblock script %}