table {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Noto Serif", serif;
}

label {
  font-size: 1.3rem;
}

.title input,
.desc textarea,
.location textarea,
.pay input,
.start_date input,
.end_date input {
  border: 0;
  padding: 1px;
  font-size: 1.1em;
  border: solid 1px #ccc;
  margin-top: 4px;
  width: 80%;
  border-radius: 3px;
}
