.wrapper {
  width: 85%;
  height: 100%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 80px auto;
  margin-bottom: 0;
}
/*********************** side-bar **************************/
.side-bar {
  margin-right: 25px;
  width: 190px;
}
.side-bar__user-info,
.side-bar__info,
.side-bar__tags-info {
  border: solid 1px #cacaca;
  border-radius: 3px;
  padding: 20px 50px;
  margin: 20px 0;
  width: 100%;
}
.side-bar__user-info {
  margin-top: 0;
}
.side-bar__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-bar__text {
  font-size: 11px;
  color: #b0b0b0;
  margin-bottom: 12px;
}
.side-bar__user-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-bottom: 12px;
  object-fit: cover;
}
.side-bar__user-name {
  font-size: 14px;
  color: #363636;
  margin-bottom: 12px;
}
.side-bar__user-category {
  text-align: center;
  font-size: 11px;
  color: #575757;
  background-color: #e8e8e8;
  border-radius: 10px;
  width: 80px;
  padding: 2px;
}
.side-bar__info {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.side-bar__info .like > i:hover,
.save > i:hover {
  cursor: pointer;
  color: #5200ff;
}
.eye,
.like,
.save {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.eye i,
.like i,
.save i {
  margin-bottom: 5px;
}
.like > .fas,
.save > .fas {
  color: #5200ff;
}
.like > .far,
.eye > .far,
.save > .far {
  color: #888888;
}
.side-bar__tags-info {
  padding: 15px 10px;
  overflow: hidden;
}
.side-bar__tags {
  overflow: hidden;
  width: 74px;
  color: #5200ff;
  font-size: 11px;
  border: solid 1px #5200ff;
  border-radius: 13px;
  padding: 5px 20px;
  float: left;
  margin: 3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*********************** post **************************/
.post {
  width: 60vw;
}
.post__title-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 10px;
}
.post__title {
  font-size: 20px;
  color: #1e1e1e;
}
.post__edit-btn {
  font-size: 13px;
  color: #888888;
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 5px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.post__edit-btn:last-child {
  margin-right: 15px;
}
.post__line {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: solid 1px #6d6d6d;
}
.post__info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.post__date {
  color: #6d6d6d;
  font-size: 14px;
}
/*********************** carousel **************************/
.post__images-wrapper {
  box-sizing: border-box;
}
.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mySlides {
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 400px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}
.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.under-bar {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 127px;
  background-color: #f6f6f6;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.under-bar::-webkit-scrollbar {
  height: 6px;
}
.under-bar::-webkit-scrollbar-track {
  background-color: #fafafa;
}
.under-bar::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #000000, #b6b6b6);
}
.under-bar::-webkit-scrollbar-button {
  display: none;
}
.img-container {
  display: inline-block;
  margin-right: -4px;
  width: calc(100% * 0.2);
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-container img:hover {
  cursor: pointer;

  transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);

  transition: transform 0.2s;
  -o-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 10px;
  top: 45%;
  color: #c4c4c4;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.6s ease;
}
.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  color: #5200ff;
}
.numbertext {
  color: #6d6d6d;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: -30px;
  right: 0;
}
/***********************************************************/
.post__desc {
  font-size: 13px;
  color: #1e1e1e;
  margin-top: 20px;
  margin-bottom: 30px;
}
/***********************************************************/
.post__comment {
  margin-top: 30px;
  margin-bottom: 35px;
}
.post__comment #comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.post__comment input:focus {
  outline: none !important;
}
.post__comment .comment__value {
  width: 100%;
  height: 60px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #bcbcbc;
  color: #767676;
  font-size: 12px;
  border-radius: 0;
}
.post__comment .comment__btn {
  height: 60px;
  padding: 10px 15px;
  border: 0;
  border-radius: 0;
  font-size: 12px;
  color: #ffffff;
  background-color: #5200ff;
  font-weight: lighter;
  cursor: pointer;
}
.comment__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.comment__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.comment__writer-img img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 20px;
}
.comment__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comment__top-info {
  width: 100%;
  margin-bottom: 3px;
}
.comment__writer {
  font-size: 14px;
  color: #1e1e1e;
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 5px;
}
.comment__date {
  color: #888888;
  font-size: 11px;
}
.comment__text {
  font-size: 13px;
  color: #1e1e1e;
}
.comment__delete-btn {
  font-size: 11px;
  color: #747474;
  background-color: #ffffff;
  border: none;
}
/***********************************************************/
.post__list-btn {
  margin: 30px auto;
  width: 50px;
  font-size: 13px;
  color: #505050;
}
