html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "NanumSquare", sans-serif;
}
.container {
  width: 75%;
  margin: 50px auto;
}
/*******************************************************/
.create {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create__text {
  font-size: 18px;
  color: #000000;
}
.create__user {
  display: flex;
  align-items: center;
}
.create__user-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.create__user-name {
  font-size: 14px;
  color: #1e1e1e;
  margin-left: 10px;
}
.create__user-category {
  font-size: 12px;
  color: #6b6b6b;
  margin-left: 10px;
}

.line {
  width: 100%;
  padding-top: 15px;
  margin-bottom: 36px;
  border-bottom: solid 1.5px #a3a3a3;
}
/*******************************************************/
form {
  position: relative;
}
.form__wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 65px;
}
.form__left {
  width: 100%;
  margin-right: 60px;
}
.form__right {
  width: 100%;
}
.form__label {
  margin-bottom: 10px;
  font-size: 14px;
}
.title input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #c4c4c4;
  margin-bottom: 35px;
  padding: 10px 0;
  font-size: 12px;
}
.desc textarea {
  width: 100%;
  height: 20%;
  border: none;
  border: solid 1px #c4c4c4;
  border-radius: 3px;
  margin-bottom: 35px;
  padding: 15px;
  font-size: 12px;
}
.tags input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #c4c4c4;
  padding: 10px 0;
  font-size: 12px;
}
.title input:focus,
.desc textarea:focus,
.tags input:focus {
  outline: none !important;
}
/*******************************************************/
.images {
  width: 100%;
}
.form__upload {
  overflow: hidden;
  background-color: #dedede;
  height: 70px;
  width: 100%;
  margin-top: 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 5px 130px;
}
.form__upload-text {
  color: #1e1e1e;
  font-size: 13px;
}
.form__upload-btn {
  background-color: #c4c4c4;
  padding: 13px;
  font-size: 0.9em;
  border-radius: 100%;
  color: #ffffff;
  position: absolute;
  right: 80px;
}
#id_images {
  opacity: 0;
  border: 1px solid red;
  width: 45%;
  padding: 25px 50px;
  position: absolute;
  top: 38px;
  right: 5px;
  cursor: pointer;
  z-index: 1;
}
.form__img {
  margin-top: 8px;
  border: 1.5px solid #e2e2e2;
  border-radius: 3px;
  height: 190px;
  width: 100%;
  padding: 4px;
  overflow: hidden;
  overflow-y: auto;
}
.form__img::-webkit-scrollbar {
  width: 3px;
}
.form__img::-webkit-scrollbar-track {
  background-color: #fafafa;
}
.form__img::-webkit-scrollbar-thumb {
  background-color: linear-gradient(to top, #b6b6b6, #000000);
}
.form__img::-webkit-scrollbar-button {
  display: none;
}

/*******************************************************/
.form__btn {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 43%;
}
.form__submit {
  background-color: #dbdbdb;
  color: #1e1e1e;
  border: none;
  border-radius: 3px;
  padding: 11px 30px;
  font-size: 14px;
  width: 110px;
}
.form__submit:hover {
  background-color: #5200ff;
  color: #ffffff;
  cursor: pointer;
}
