@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
/**layout**/
.container {
  min-height: 100%;
}

body{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

/*header*/
.place-header{
  background-image: url("../img/place-header.png");
  background-repeat: no-repeat;
  width:100vw;
  height: 280px;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.place-header-content{
  margin:0 10%;
  color:white;
}

.place-header-content p{
  margin:1.6rem 0;
  line-height:1.6rem;
}

.register-btn{
  background-color: rgba(0,0,0,0);
  border-radius: 100px;
  border: 1px solid white;
  padding:1rem;
}
.register-btn a{
  color:white;
  text-decoration: none;
}

/*컨텐츠*/
.place-list{
  margin:5% 0;
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width:100%;
}
.place-list-grid{
  display:grid;
  width:100%;
  justify-content: center;
  align-items: center;
  grid-templates-rows:repeat(2,100%);
  gird-templates-columns:repeat(5,100%);
}

/*폼,필터*/
.place-search{
  grid-column:1;
  display:inline;
  width:35rem;
}
.place-filter{
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size:0.8rem;
}
.pay{
  margin:0 15px;
  display: flex;
  align-items: center;
}
.pay label{
  margin-right:8px;
}
.search{
  width:80%;
  padding:0.8rem;
  color:gray;
  border:1px solid #cfcfcf;
  border-radius: 10px;
}
.btn_search{
  background-color:#5200ff;
  color:white;
  border:none;
  border-radius: 10px;
  padding:0.8rem;
}
.sort-box{
  margin-left: 15px;
  position: relative;
}
.sort{
  text-align: center;
  padding:0.5rem 1.1rem;
  font-size:0.7rem;
  border:1px solid #cfcfcf;
  color:#222;
    /* 화살표 없애기 */
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: white;
}
/* 화살표 없애기 */
.sort::-ms-expand {
  display: none;
}
/* 화살표 커스터마이징 */
.sort-box > .select__arrow {
  position: absolute;
  top: 12px;
  right: 10px;
  pointer-events: none;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #c4c4c4 transparent transparent transparent;
}
.sort-box > select option {
  font-size: 10px;
  color: #000000;
}
.sort-box > select:focus {
  outline: none;
}


/*구분선*/

hr{
  width:1120px;
  grid-column: span 2;
  margin:3% 0;
  justify-self: center;
}

/*컨텐츠 목록*/

.place-content{
  display: flex;
  align-items: center;
  margin:1.5rem 1.5rem 1.5rem 0;
}
.place-thumbnail{
  width:250px; 
  height:197px;
  border-radius: 7px;
  object-fit: cover;
}
.place-content-title{
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-left:1rem;
  width:270px;
}

.place-content-title a{
  text-decoration: none;
  color:black;
}

.place-title{
  font-weight:bold;
  font-size:1.1rem;
}
.place-address{
  margin-top:0.7rem;
}
.place-pay{
  margin-top:0.7rem;
  font-size:0.9rem;
  color:#6b6b6b;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word; 
  line-height: 1.2rem;
}
.place-pay{
  font-size:0.9rem;
  color:#6b6b6b;
}
.place-tag{
  display: inline-block;
  margin:1rem 0;
}
.place-tag button{
  border:1px solid #5200ff;
  border-radius: 7px;
  background-color:rgba(0, 0, 0, 0);
  padding:0.3rem 0.5rem;
  font-size: 0.5rem;
  margin-right:2px;
  margin-top:0.4rem;
}
.place-tag a{
  text-decoration: none;
  color:#5200ff;
}
.user-info{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.place-user{
  display:flex;
  align-items:center;
  font-size:0.9rem;
}
.user-name{
  margin-left:0.5rem;
}
.user-category{
  color:#a6a6a6;
  font-size:0.5rem;
  margin-top:0.3rem;
}
.user-image{
  width:40px;
  height:40px;
  border-radius:100px;
  object-fit:cover;
}
.like-save{
  display: flex;
  align-items: center;
}

.place-like-count,
.place-comment,
.place-save{
  margin-right:1rem;
  font-size:0.9rem;
  color:#6d6d6d;
  display: flex;
  align-items: flex-end;
}
.place-like-count i,
.place-save i,
.place-comment i{
  font-size:1.1rem;
  cursor: pointer;
}
.place-like-count span,
.place-comment span,
.place-save span{
  margin-left:0.2rem;
  color:#4f4f4f;
}
.fas::before{
  color:#5200ff;
}


/*pagenation*/

.place-pagenation{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:0.9rem;
  margin-bottom:2rem;
}

/*모바일*/
@media screen and (max-width:480px){
  .place-header-content h2{
    font-size:1.2rem;
  }
  .place-header-content p{
    font-size:0.8rem;
    margin:1rem 0;
  }
  .register-btn{
    font-size: 0.7rem;
    padding:0.8rem;
  }
  .place-list-grid{
    width:95vw;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
  }
  .place-search{
    width:100%;
    display: flex;
    justify-content: space-evenly;
  }
  .place-search input{
    width:80%;
  }
  .place-filter{
    margin-top:1rem;
    font-size: 0.5rem;
  }
  .sort-box{
    margin:0;
  }
  .sort{
    padding: 0.4rem 0.8rem;
    font-size: 0.5rem;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: white;
  }
  hr{
    width:100%;
    margin:0.8rem 0;
  }
  .place-content{
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:0.6rem 0;
  }
  .place-thumbnail{
    width:95%;
  }
  .place-content-title{
    width:95%;
    margin: 0;
    padding: 1.1rem 0 1.1rem 0;
    border-bottom: 1px solid lightgray;
  }
}

/*패드*/
@media screen and (max-width:1024px) and (min-width:481px){
  
  .place-list-grid{
    width:95vw;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
  }
  .place-search{
    width:100%;
    display: flex;
    justify-content: space-between;
  }
  .place-search input{
    width:90%;
  }
  .place-filter{
    margin-top:1rem;
    font-size: 0.5rem;
  }
  .sort-box{
    margin:0;
  }
  .sort{
    padding: 0.4rem 0.8rem;
    font-size: 0.5rem;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: white;
  }
  hr{
    width:100%;
    margin:0.8rem 0;
  }
  .place-content{
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:0.6rem 0;
  }
  .place-thumbnail{
    width:95%;
    height: 400px;
  }
  .place-content-title{
    width:95%;
    margin: 0;
    padding: 1.1rem 0 1.1rem 0;
    border-bottom: 1px solid lightgray;
  }
}

/* 무한스크롤 */

.loading,
.loading:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.loading {
  display: none;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(160, 160, 160, 0.2);
  border-right: 0.3em solid rgba(160, 160, 160, 0.2);
  border-bottom: 0.3em solid rgba(160, 160, 160, 0.2);
  border-left: 0.3em solid rgb(0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.6s infinite linear;
  animation: load8 0.6s infinite linear;
}

.loading.show {
  opacity: 1;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Contact List CSS 

a {
  text-decoration: none;
  color: black;
}

.place_list {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.placelist_left {
  margin-left: 30px;
  margin-top: 40px;
}

.placelist_left li {
  padding-bottom: 25px;
  border-right: #ccc 1px solid;
}

.placelist_right {
  display: grid;
  grid-template-rows: 100px 1fr;
}

.placelist_right > .bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.bar .input-group {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  width: 40%;
  padding: 0;
}

.input-group .form-control.search {
  border: 0;
  padding: 5px;
  font-size: 1em;
  border: solid 1px black;
  width: 60%;
  height: 50%;
  border-radius: 3px;
  margin-right: 10px;
}

/*
.bar .search {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  width: 40%;
  padding: 0;
}


.bar .search .form-control {
  border: 0;
  padding: 5px;
  font-size: 1em;
  border: solid 1px black;
  width: 60%;
  height: 50%;
  border-radius: 3px;
  margin-right: 10px;
}
*/
/*
.bar .btn_search {
  padding: 6px;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.bar .sort {
  margin-right: 15px;
}

.bar .sort select {
  border: 0;
  padding: 5px;
  border: solid 1px black;
  width: 90%;
  border-radius: 3px;
}

.bar .place_create i {
  font-size: 2rem;
  font-weight: lighter;
  color: rgb(75, 75, 75);
}

.infinite-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.infinite-item {
  height: 400px;
  width: 300px;
  border: rgb(117, 117, 117) 1px solid;
  margin-right: 20px;
  padding: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 1fr 35px;
}

.infinite-item .item_top {
  display: grid;
  grid-template-rows: 30px 30px 250px 30px;
  padding-bottom: 10px;
}

.item_top img {
  display: flex;
  justify-content: center; 
  width: 80%;
  align-content: center;
}

.item_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 10px;
  border-top: #ccc 1px solid;
}
*/
/* hover */

.infinite-item {
  /*cursor: pointer;*/
  position: relative;
  overflow: hidden;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: scale(1.1);
}

/*
.infinite-item:hover .caption-content i {
  transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
}

.infinite-item:hover .caption {
  opacity: 0.85;
}

.infinite-item:hover .caption i {
  opacity: 1;
  color: white;
  padding-left: 8px;
}
*/

.caption-content i {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.caption-content {
  color: white;
}

/* modal */
#my_modal {
  display: none;
  width: 80%;
  padding: 20px 60px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
}

#my_modal .modal_close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#map {
  height: 400px;
  overflow: scroll;
}
