* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

main{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin:7% 5%;
}
.info-box{
    width:213px;
    margin-right:5%;
}
.user-profile{
    height:220px;
    border:1px solid #cacaca;
    background-color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom:1rem;
}
.user-profile .writer{
    color:#b0b0b0;
    font-size:0.7rem;
    padding:1rem;
}
.user-profile .user-name{
    margin-top:1rem;
}
.user-profile .user-category{
    background-color:#c4c4c4;
    color:#575757;
    font-size:0.7rem;
    padding:0.3rem 1rem;
    border-radius: 100px;
    margin:1rem;
}

.place-location-map{
    height: 377px;
    margin:1rem 0;
    border:1px solid #cacaca;
}

.likeSave{
    margin:1rem 0;
    height:77px;
    border:1px solid #cacaca;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#6d6d6d;
}
.likeSave p{
    font-size:0.6rem;
    margin-top:0.6rem;
}
.like{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.save{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.place-tag{
    margin:1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border:1px solid #cacaca;
    background-color:white;
    height: 104px;
    padding:0.5rem;
}

.place-tag a{
    color:#6d6d6d;
    display: inline-block;
    border:1px solid #cacaca;
    border-radius: 100px;
    padding:0.4rem 0.7rem;
    margin:0.2rem;
    font-size: 0.7rem;
}
.place-tag a:hover{
    border:1px solid #5200ff;
    color:#5200ff;
}







.place-detail{
    width:65%;
}
.place-detail-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modify-delete button{
    border:none;
    border-radius: 3px;
    background-color: #E7E7E7;
    font-size: 0.6rem;
    padding:0.2rem 0.4rem;
}
.modify-delete a{
    color:#6d6d6d;
}
.place-detail hr{
    margin:1rem 0;
}

.place-detail-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:#6d6d6d;
    font-size: 0.7rem;
}
.place-detail-info span{
    display:flex;
    align-items: center;
}
.place-detail-info i{
    color:#5200ff;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.place-images{
    width:100%;
    height:620px;
}
.place-images .image-box{
    margin:1rem 0;
    height:505px;
    background-color:#f6f6f6;
}
.image-box img{
    border:none;
    width:100%;
    height: 100%;
    object-fit: contain;
}
.place-images .image-list{
    height: 103px;
    float: bottom;
    background-color:#f6f6f6;
}

.place-description{
    margin:2rem 0;
    line-height:1.5rem;
    font-size:0.9rem;
}