{% load static %}
{% load customtags %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MasterPics</title>
  <link rel="shortcut icon" href="{% static 'img/masterpics_favicon.png' %}">
  <link rel="icon" href="{% static 'img/masterpics_favicon.png' %}">
  
  <!-- FONTS -->
  <script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Akaya+Telivigala&family=Cormorant:ital,wght@0,300;1,300&family=Dancing+Script&family=Poiret+One&family=Prata&display=swap"
  rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">

  <!-- JS -->
  <script src="{% static 'js/main.js' %}" defer></script>

  {% block stylesheet %}
  {% endblock %}

</head>

<body>

  <head>
    <nav id="nav">
      
      <ul class="nav__logo">
        <img class="nav_logo_img" src="/media/mp_logo.png" alt='img'><li><a href="{% url 'core:main_list' %}"> MasterPic's</a></li>
      </ul>
      <ul class="nav__menu">
        <li><a href="{% url 'contact:contact_list' %}">Contact</a></li>
        <li><a href="{% url 'portfolio:portfolio_list' %}">Portfolio</a></li>
        <li><a href="{% url 'reference:reference_list' %}">Reference</a></li>
        <li><a href="{% url 'place:place_list' %}">Place</a></li>
        
        <ul class="nav__profile">
          {% if not user.is_authenticated %}
          <li><a href="{% url 'profile:login' %}?next={{ request.path }}">Log In/Sign Up</a></li>
          {% else %}
        <!--
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <input class="here" type="submit" value="Log Out" onclick="return confirm('Are you sure?');"
              style="margin-right: 10px;"></input>

              <form method='post' action="{% url 'profile:logout' %}">
              {% csrf_token %}
              <button type='submit'>로그아웃</button>
              </form>
          </form>
        -->

          <li class="user_dropdown">
            <button class="dropbtn"> {{user.username}}</button>
            <div class="dropdown-content">
              <a href=" {% url 'profile:mypage' %}">My profile&nbsp;<i class="far fa-user-circle"></i></a>
              <a>
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <input class="here" type="submit" value="Log Out" onclick="return confirm('Are you sure?');"
                    style="margin-right: 10px;"></input>
                </form>
              </a>
            </div>
          </li>

          {% endif %}
        </ul>
      </ul>
    </nav>
  </head>
  <section class="container">
    {% block content %}
    {% endblock %}
  </section>
  <footer id="footer">
    <div>
      <ul class="footer__left">
        <li class="footer__logo">MasterPic's</li>
        <li class="info"><a href="#">이용약관</a></li>
        <li class="info"><a href="#">개인정보처리방침</a></li>
      </ul>
      <ul class="footer__center">
        <li class="mpright">© MasterPic’s. 2021 All Rights Reserved.</a></li>
      </ul>
      <ul class="footer__right">
        <li class="alliance"><a href="#">제휴문의</a></li>
        <!--
        <li class="insta"><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-youtube-square"></i></li>
        -->
      </ul>
    </div>
  </footer>
  
  <!-- axios for async buttons -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- Gallery Layout -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>

  <!-- infinite scrolls -->
  <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>

  {% block script %}
  {% endblock script %}
</body>

</html>