{% extends 'core/layout.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/main_list.css' %}">
{% endblock stylesheet %}

{% block content %}
<!-- header -->

<div class = "LandingBanner_1_bg">
  <div class="LandingBanner_1">
      <div class="logo">
        <h1>MasterPic's</h1>
        <h5>Find everything for your Masterpiece</h5>
      </div>
      <h1 class ="logo_back_m">M</h1>
    
          <div class="card_container-0">
            <img src="media/Rectangle 146.jpg">
          </div>
          <div class="card_container-1">
            <img src="media/Rectangle 404.jpg">
          </div>
          <div class="card_container-2">  
            <img src="media/Rectangle 145.jpg">
          </div>
          <div class="card_container-3">  
            <img src= "media/Rectangle 124.jpg">
          </div>

      <div class="categories">
        <div draggable class="category model">
          Model
        </div>
        <div draggable class="category stylist">
          Stylist
        </div>
        <div draggable class="category photographer">
          Photographer
        </div>
        <div draggable class="category hair-makeup">
          Hair&makeup
        </div>
      </div>
  </div>
</div>

<!--AboutUs-->

<div class="AboutUs">
  <div class="title-content">
    <h1>ABOUT US</h1>
    
    <div class="goal">
              마스터픽스는 촬영 관련 직군의 아티스트들이 인지도나 지인 기반이 아닌,
              <br />
              시안 및 포트폴리오를 기반으로 컨택트 할 수 있도록 도와주는
              서비스입니다.
              <br />
              상호무페이의 개인작업을 권장하며, 아티스트들 간의 성장 과정을 함께하는
              것을 목표로 하고 있습니다.
              <br />
    </div>

    <div class="goal_media">
              마스터픽스는 촬영 관련 직군의 아티스트들이
              <br />
              인지도나 지인 기반이 아닌,
              </br>
              촬영 시안 및 포트폴리오를 기반으로
              </br>
              컨택트 할 수 있도록 도와주는 서비스입니다.
              <br />
              상호무페이의 개인작업을 권장하며,
              </br>
              아티스트들 간의 성장 과정을 함께하는 것을 목표로 하고 있습니다.
              <br />
    </div>
  </div>

  <div class="main-content">
    <div class="AboutUsMainContent1">
        <div class="container">
          <div class="title">Contact</div>
          <div class="desc">작업을 위한 시안 기반의 컨택트를 진행해보세요.</div>
          <ul class="link"><a href="{% url 'contact:contact_list' %}">
            바로가기</a>
          </ul>
        </div>
    </div>

    <div class="AboutUsMainContent2">
        <div class="container">
          <div class="title">Portfolio</div>
          <div class="desc">다양한 아티스트들과 작업물을 공유해보세요.</div>
          <ul class="link"><a href="{% url 'portfolio:portfolio_list' %}">
            바로가기</a>
          </ul>
        </div>
    </div>
      
    <div class="AboutUsMainContent3">
        <div class="container">
          <div class="title">Reference</div>
          <div class="desc">다양한 키워드의 레퍼런스를 통해 영감을 얻어보세요.</div>
          <ul class="link"><a href="{% url 'reference:reference_list' %}">
            바로가기</a>
          </ul>
        </div>
    </div>

    <div class="AboutUsMainContent4">
        <div class="container">
          <div class="title">Place</div>
          <div class="desc">원하는 무드의 키워드로 촬영을 위한 공간을 탐색하세요.</div>
          <ul class="link"><a href="{% url 'place:place_list' %}">
            바로가기</a>
          </ul>
        </div>
    </div>

  </div>
</div>

<!--RandomMagazine-->

<div class = "RandomMagazine_bg">
  <div class="RandomMagazine">
    {% for portfolio in portfolios %}
      <a href="{% url 'portfolio:portfolio_detail' portfolio.pk %}">
          <div class="card_container-0">
              <div class="magazine_img"><img src="{{ portfolio.thumbnail.image.url }}" alt='img'></div>
                <div class="info_container">
                  <h2 class="title">{{ portfolio.title }}</h2>
                </div>

                <div class="user_container">
                  <span class="username">{{ portfolio.user.username }}</span>
                  <div class="user_category">{{ portfolio.user.category}}</div>
                </div>

                <div class="meta_container">
                  <div class="like">
                  <i class="fas fa-heart"></i>
                  {{ portfolio.like_users.count }}
                  </div>
                  <div class="view">
                  <i class="fas fa-eye"></i>
                  {{ portfolio.view_count }}
                  </div>   
                  <div class="bookmark">
                  <i class="fas fa-bookmark"></i>
                  {{ portfolio.bookmark_users.count }}
                  </div>
                </div> 
          </div>
          
          <div class="card_container-1">
            <div class="magazine_img">
              <img src="{{ portfolio.thumbnail.image.url }}" alt='img'></a>
            </div>
              <div class="info_container">
                <h2 class="title">{{ portfolio.title }}</h2>
              </div>

              <div class="user_container">
                  <span class="username">{{ portfolio.user.username }}</span>
                  <div class="user_category">{{ portfolio.user.category}}</div>
              </div>

              <div class="meta_container">
                  <div class="like">
                  <i class="fas fa-heart"></i>
                  {{ portfolio.like_users.count }}
                  </div>
                  <div class="view">
                  <i class="fas fa-eye"></i>
                  {{ portfolio.view_count }}
                  </div>   
                  <div class="bookmark">
                  <i class="fas fa-bookmark"></i>
                  {{ portfolio.bookmark_users.count }}
                  </div>
              </div> 
          </div>

          <div class="card_container-2">  
            <div class="magazine_img"><img src="{{ portfolio.thumbnail.image.url }}" alt='img'></div>
              <div class="info_container">
                <h2 class="title">{{ portfolio.title }}</h2>
              </div>

              <div class="user_container">
                <span class="username">{{ portfolio.user.username }}</span>
                <div class="user_category">{{ portfolio.user.category}}</div>
              </div>

              <div class="meta_container">
                <div class="like">
                <i class="fas fa-heart"></i>
                {{ portfolio.like_users.count }}
                </div>
                <div class="view">
                <i class="fas fa-eye"></i>
                {{ portfolio.view_count }}
                </div>   
                <div class="bookmark">
                <i class="fas fa-bookmark"></i>
                {{ portfolio.bookmark_users.count }}
                </div>
              </div>  
          </div>

          <div class="card_container-3">  
            <div class="magazine_img"><img src="{{ portfolio.thumbnail.image.url }}" alt='img'></div>
              <div class="info_container">
                <h2 class="title">{{ portfolio.title }}</h2>
              </div>

              <div class="user_container">
                <span class="username">{{ portfolio.user.username }}</span>
                <div class="user_category">{{ portfolio.user.category}}</div>
              </div>

              <div class="meta_container">
                <div class="like">
                <i class="fas fa-heart"></i>
                {{ portfolio.like_users.count }}
                </div>
                <div class="view">
                <i class="fas fa-eye"></i>
                {{ portfolio.view_count }}
                </div>   
                <div class="bookmark">
                <i class="fas fa-bookmark"></i>
                {{ portfolio.bookmark_users.count }}
                </div>
              </div>  
          </div>

          <div class="card_container-4">  
            <div class="magazine_img"><img src="{{ portfolio.thumbnail.image.url }}" alt='img'></div>
              <div class="info_container">
                <h2 class="title">{{ portfolio.title }}</h2>
              </div>

              <div class="user_container">
                <span class="username">{{ portfolio.user.username }}</span>
                <div class="user_category">{{ portfolio.user.category}}</div>
              </div>

              <div class="meta_container">
                <div class="like">
                <i class="fas fa-heart"></i>
                {{ portfolio.like_users.count }}
                </div>
                <div class="view">
                <i class="fas fa-eye"></i>
                {{ portfolio.view_count }}
                </div>   
                <div class="bookmark">
                <i class="fas fa-bookmark"></i>
                {{ portfolio.bookmark_users.count }}
                </div>
              </div>  
          </div>
      </a>
    {% endfor %}  
        <div class="text-0">
          <h1>Random Magazine</h1>
          <h2>with passionate artists</h2>
          <p>
            마스터픽스 아티스트들의 다양한 포트폴리오 작업물을 <br />
            확인하세요.
          </p>
        </div>

        <div class="text-1">
          contact and portfolio website <br />
          for passionate artists. <br />
          masterpic's provides <br />
          web services for <br />
          personal photo work.
        </div>

        <div class="magazine_more">
              <div>
                <a href="{% url 'portfolio:portfolio_list' %}">View more <br />
                MasterPic’s Artists</a>
              </div>
              <a href="{% url 'portfolio:portfolio_list' %}"><img src="media/Group 19.svg"></a>
        </div>
  </div>
</div>

<!--Randomcontact_bg-->

<div class = "Randomcontact_bg">
  <div class="RandomContact">
    {% for contact in contacts %}
          <div class="card_container-0">
             <a href="{% url 'contact:contact_detail' contact.pk %}">
              <div class="magazine_img">
              <img src="{{ contact.thumbnail.image.url }}"></div>
             </a>
                <div class="info_container">
                  <h2 class="title">{{ contact.title }}</h2>
                </div>

                <div class="user_container">
                  <span class="username">{{contact.user.username}}</span>
                  <div class="user_category">{{contact.user.category}}</div>
                </div>

                <div class="meta_container">
                  <span class="date">{{ contact.start_date }}</span>
                  <div class="pay">{{contact.pay}}</div>
                </div>
          </div>
          
          <div class="card_container-1">
            <a href="{% url 'contact:contact_detail' contact.pk %}">
              <div class="magazine_img">
              <img src="{{ contact.thumbnail.image.url }}"></div>
            </a>
                <div class="info_container">
                  <h2 class="title">{{ contact.title }}</h2>
                </div>

                <div class="user_container">
                  <span class="username">{{contact.user.username}}</span>
                  <div class="user_category">{{contact.user.category}}</div>
                </div>

                <div class="meta_container">
                  <span class="date">{{ contact.start_date }}</span>
                  <div class="pay">{{contact.pay}}</div>
                </div>
          </div>

          <div class="card_container-2">  
            <div class="magazine_img"><img src="{{ contact.thumbnail.image.url }}"></div>
              <div class="info_container">
                <h2 class="title">{{ contact.title }}</h2>
              </div>

              <div class="user_container">
                <span class="username">{{contact.user.username}}</span>
                <div class="user_category">{{contact.user.category}}</div>
              </div>

              <div class="meta_container">
                <span class="date">{{ contact.start_date }}</span>
                <div class="pay">{{contact.pay}}</div>
              </div>
          </div>

          <div class="card_container-3">  
            <div class="magazine_img"><img src="{{ contact.thumbnail.image.url }}"></div>
              <div class="info_container">
                <h2 class="title">{{ contact.title }}</h2>
              </div>

              <div class="user_container">
                <span class="username">{{contact.user.username}}</span>
                <div class="user_category">{{contact.user.category}}</div>
              </div>

              <div class="meta_container">
                <span class="date">{{ contact.start_date }}</span>
                <div class="pay">{{contact.pay}}</div>
              </div>
          </div>

          <div class="text-0">
            <h1>Contact</h1>
            <p>
              함께 작업할 아티스트를 마스터픽스에서 찾아보세요.
            </p>
          </div>

          <div class="contact_more">
              <div>
                <a href="{% url 'contact:contact_list' %}">View more <br />
                Contact Post</a>
              </div>
              <a href="{% url 'contact:contact_list' %}"><img src="media/Group 19.svg"></a>
          </div>
    {% endfor %}
  </div>
</div>

<!--RandomPlace-->

<div class = "RandomPlace_bg">
  <div class="RandomPlace">
    {% for place in places %}
          <div class="card_container-0">
            <div class="magazine_img"><img src="{{ place.thumbnail.image.url }}"></div>
              <a href="{% url 'place:place_detail' place.pk %}"><div class="info_container">
                {{ place.title }}</h2>
              </div></a>

              <div class="place_container">
                <span class="placename">{{ place.user.username }}</span>
              </div>

              <div class="meta_container">
                <div class="like">
                <i class="fas fa-heart"></i>
                {{ place.like_users.count }}
                </div>
                <div class="view">
                <i class="fas fa-eye"></i>
                {{ place.view_count }}
                </div>   
                <div class="bookmark">
                <i class="fas fa-bookmark"></i>
                {{ place.bookmark_users.count }}
                </div>
              </div>
          </div>
          
          <div class="card_container-1">
            <div class="magazine_img"><img src="{{ place.thumbnail.image.url }}"></div>
              <a href="{% url 'place:place_detail' place.pk %}"><div class="info_container">
                <h2 class="title">{{ place.title }}</h2>
              </div></a>

              <div class="place_container">
                <span class="placename">{{ place.user.username }}</span>
              </div>

              <div class="meta_container">
                <div class="like">
                <i class="fas fa-heart"></i>
                {{ place.like_users.count }}
                </div>
                <div class="view">
                <i class="fas fa-eye"></i>
                {{ place.view_count }}
                </div>   
                <div class="bookmark">
                <i class="fas fa-bookmark"></i>
                {{ place.bookmark_users.count }}
                </div>
              </div>
          </div>

          <div class="card_container-2">  
            <div class="magazine_img"><img src="{{ place.thumbnail.image.url }}"></div>
              <div class="info_container">
                <a href="{% url 'place:place_detail' place.pk %}"><h2 class="title">{{ place.title }}</h2></a>
              </div>

              <div class="place_container">
                <span class="placename">{{ place.user.username }}</span>
              </div>

              <div class="meta_container">
                <div class="like">
                <i class="fas fa-heart"></i>
                {{ place.like_users.count }}
                </div>
                <div class="view">
                <i class="fas fa-eye"></i>
                {{ place.view_count }}
                </div>   
                <div class="bookmark">
                <i class="fas fa-bookmark"></i>
                {{ place.bookmark_users.count }}
                </div>
              </div>
          </div>   

        <div class="text-0">
          <h1>Place Collection</h1>
          <p>
            마스터픽스 회원들이 추천하는 촬영 장소들을 알아보세요.
          </p>
        </div>

        <div class="place_more">
              <div>
                <a href="{% url 'place:place_list' %}">View more <br />
                Placce</a>
              </div>
              <a href="{% url 'place:place_list' %}"><img src="media/Group 19.svg"></a>
        </div>
      {% endfor %}
  </div>
</div>

{% endblock content%}

