{% extends 'core/layout.html' %}

{% load static %}
{% load customtags %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/contact_list.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="header">
    <h2 class="header__title">Contact</h2>
    <p class="header__desc">주변에서 개인작업을 위한</p>
    <p class="header__desc">아티스트의 시안을 찾아보세요!</p>
    <p class="header__desc-more">별도의 수수료 없이 MasterPic’s 내 아티스트들과 컨택할 수 있습니다.</p>
    <a class="header__create-btn" href="{% url 'contact:contact_create' %}">컨택트 등록하기</a>
    <a class="header__create-btn" href="{% url 'contact:contact_map' %}">내 주변 아티스트 찾기</a>
</div>

<div class="filter">
    <div class="filter__left">
        <div class="filter__category">
            <a class="selected all" href="javascript:void(0)">All</a>
            <a class="photographer" href="javascript:void(0)">Photographer</a>
            <a class="model" href="javascript:void(0)">Model</a>
            <a class="hairmakeup" href="javascript:void(0)">Hair/makeup</a>
            <a class="stylist" href="javascript:void(0)">Stylist</a>
        </div>
    </div>
    <div class="filter__right">
        <!-- 상호무페이 -->
        <div class="filter__checkbox">
            <label for="no_pay">상호무페이</label><br>
            <input type="checkbox" class="no_pay" name="no_pay" value="no_pay">
        </div>
        <div class="filter__search">
            <input type="text" class="form-control search" value="{{ search|default_if_none:"" }}" placeholder='키워드를 검색하세요.'>
            <button type="submit" id="submit" class="btn btn-outline-secondary btn_search"><i class="fas fa-search"></i></button>
        </div>
        <div class="filter__sort">
            <select name="" id="" class="form-control sort ">
                <option value="recent" {% if sort == 'recent' %}selected{% endif %}>
                    최신순
                </option>
                <option value="save" {% if sort == 'save' %}selected{% endif %}>
                    저장순
                </option>
                <option value="payLow" {% if sort == 'payLow' %}selected{% endif %}>
                    낮은 가격순
                </option>
                <option value="payHigh" {% if sort == 'payHigh' %}selected{% endif %}>
                    높은 가격순
                </option>
            </select>
            <div class="select__arrow"></div>
        </div>
        <!-- filter form -->
        <div style="height: 0;">
            <form id="searchForm" method="get" action="{% url 'contact:contact_list' %}">
                <input type="hidden" id="category" name="category" value="{{ category }}">
                <input type="hidden" id="search" name="search" value="{{ search|default_if_none:'' }}">
                <input type="hidden" id="sort" name="sort" value="{{ sort }}">
                <input type="hidden" id="no_pay" name="no_pay" value="{{no_pay}}">
            </form>
        </div>
    </div>
</div>

<div class="line"></div>

<div class="list">
    <div class="list__container grid">
        {% for contact in contacts %}
        <div class="list__item-wrapper grid-item">
            <div class="list__item">
                <!-- contact pay, date-->
                <div class="list__top-info">
                    <div class="list__pay">
                        {% if contact.pay_type == 0 %}
                        <div class="list__pay-text">상호 무페이</div>
                        {% elif contact.pay_type == 1 %}
                        <div class="list__pay-text">페이 협의</div>
                        {% elif contact.pay_type == 2 %}
                        <div class="list__pay-text">{{ contact.pay }} 원</div>
                        {% endif %}
                    </div>
                    <div class="list__date">
                        {% if contact.is_closed %}
                        <div class="list__date-text">마감</div>
                        {% else %}
                        <div class="list__date-text">{{ contact.start_date|date:'y.m.d' }}</div>
                        <div class="list__date-text">~</div>
                        <div class="list__date-text">{{ contact.end_date|date:'y.m.d' }}</div>
                        {% endif %}
                    </div>
                </div>
                <!-- contact thumbnail -->
                <div class="list__thumbnail">
                    <a href="{% url 'contact:contact_detail' contact.pk %}">
                        <figure class="list__image">
                            <img src="{{contact.thumbnail.image.url}}" alt="thumbnail">
                            <figcaption>
                                <p class="list__tags-info">
                                    {% for tag in contact.tags.all %}
                                        #{{ tag.name }} 
                                    {% endfor %}
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <!-- contact title -->
                <div class="list__title">
                    <a href="{% url 'contact:contact_detail' contact.pk %}">{{contact.title}}</a>
                </div>
                <div class="list__info">
                    <!-- contact user -->
                    <div class="list__user">
                        {% if contact.user == request.user %}
                        <a href="{% url 'profile:mypage' %}">
                        {% else %}
                        <a href="{% url 'profile:others_mypage' contact.user.user_identifier %}">
                        {% endif %}
                            <img class="list__user-img" src="{{contact.user.image.url}}" alt="img">
                            <div class="list__user-info">
                                <div class="list__user-name">{{contact.user.username}}</div>
                                <div class="list__user-category">{{contact.user.category}}</div>
                            </div>
                        </a>
                    </div>
                    <!-- contact comment, save -->
                    <div class="list__post-info">
                        <div class="comment">
                            <i class="far fa-comment"></i>
                            <span class="comment__content">{{ contact.comments.count }}</span>
                        </div>
                        <div class="save save-{{contact.id}}">
                            {% if request.user in contact.bookmark_users.all %}
                            <i class="fas fa-bookmark" type="submit" onclick="onClickSave({{ contact.id }})" name="type"
                                value="save"></i>
                            {% else %}
                            <i class="far fa-bookmark" type="submit" onclick="onClickSave({{ contact.id }})" name="type"
                                value="save"></i>
                            {% endif %}
                            <span class="save__content">{{ contact.bookmark_users.count }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- infinite scroll -->
{% if contacts.has_next %}
<a class="infinite-more-link" href="?page={{ contacts.next_page_number }}">
    <div class="loading" style="display: none;">Loading...</div>
</a>
{% endif %}
<!-- go to top -->
<button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fas fa-arrow-up"></i>
</button>
{% endblock content%}

{% block script %}
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static 'js/infinite.scroll.js' %}"></script>
<script src="{% static 'js/masonry_setting.js' %}"></script>
<script src="{% static 'js/go_to_top.js' %}"></script>
<script src="{% static 'js/contact_save.js' %}"></script>
<script src="{% static 'js/category.js' %}"></script>
<script src="{% static 'js/sort.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/nopay.js' %}"></script>
{% endblock script %}