{% extends 'core/layout.html' %}

{% load static %}
{% load customtags %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/contact_detail.css' %}">
{% endblock stylesheet %}


{% block content %}
<div class="wrapper">
    <div class="side-bar">
        <div class="side-bar__user-info">
            {% if contact.user == request.user %}
            <a class="side-bar__user" href="{% url 'profile:mypage' %}">
            {% else %}
            <a class="side-bar__user" href="{% url 'profile:others_mypage' contact.user.user_identifier %}">
            {% endif %}
                <div class="side-bar__text">
                    게시자
                </div>
                <img class="side-bar__user-img" src="{{contact.user.image.url}}" alt="img">
                <div class="side-bar__user-name">{{contact.user.username}}</div>
                <div class="side-bar__user-category">{{contact.user.category}}</div>
            </a>
        </div>
        <div class="side-bar__map-info">
            <div id="map" style="width:100%;height:100%;"></div>
        </div>
        <!-- comment, save -->
        <div class="side-bar__info">
            <div class="comment">
                <a href="#comment">
                <i class="far fa-comment"></i>
                <span class="comment__count">{{ contact.comments.count }}</span>
                </a>
            </div>
            <div class="save save-{{contact.id}}">
                {% if request.user in contact.bookmark_users.all %}
                <i class="fas fa-bookmark" type="submit" onclick="onClickSave({{ contact.id }})" name="type"
                    value="save"></i>
                {% else %}
                <i class="far fa-bookmark" type="submit" onclick="onClickSave({{ contact.id }})" name="type"
                    value="save"></i>
                {% endif %}
                <span class="save__content">{{ contact.bookmark_users.count }}</span>
            </div>
        </div>
        <!-- tags -->
        {% if contact.tags.all %}
        <div class="side-bar__tags-info">
            {% for tag in contact.tags.all %}
            <a href="{% url 'reference:reference_list' %}?search={{tag.name}}" class="side-bar__tags">
                #{{ tag.name }} 
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="post">
        <div class="post__title-wrapper">
            <h1 class="post__title">{{contact.title}}</h1>
            <div class="post__edit">
                <!-- 게시물 작성자만 수정/삭제 가능 -->
                {% if request.user.pk == contact.user.pk %}
                <div>
                    <a class="post__edit-btn" href="{% url 'contact:contact_update' contact.pk %}">수정</a>
                </div>
                
                <form action="{% url 'contact:contact_delete' contact.pk %}" id="postDelete" method="POST">
                    {% csrf_token %}
                    <a class="post__edit-btn" onclick="postDelete()" href="#">삭제</a>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="post__line"></div>
        <div class="post__info-wrapper">
            <div class="post__location">
                <i class="fas fa-map-marker-alt"></i>
                <div class="post__location-text">{{contact.location.address}}</div>
            </div>
            <div class="post__pay-date">
                <div class="post__pay">
                    {% if contact.pay_type == 0 %}
                    <div class="post__pay-text">상호 무페이</div>
                    {% elif contact.pay_type == 1 %}
                    <div class="post__pay-text">페이 협의</div>
                    {% elif contact.pay_type == 2 %}
                    <div class="post__pay-text">{{ contact.pay }} 원</div>
                    {% endif %}
                </div>
                <div class="post__date">
                    {% if contact.is_closed %}
                    <div class="post__date-text">마감</div>
                    {% else %}
                    <div class="post__date-text">{{ contact.start_date|datefilter }}</div>
                    <div class="post__date-text">~</div>
                    <div class="post__date-text">{{ contact.end_date|datefilter }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="post__wrapper">
            <div class="post__images-wrapper">
                <div class="post__images-text">Mood Board</div>    
                <!-- Container for the image gallery -->
                <div class="slides">
                    <!-- Images with number text -->
                    {% for image in contact.images.all %}
                    {% if image %}
                    <div class="mySlides">
                        <div class="numbertext"> {{forloop.counter}} / {{contact.images.count}}</div>
                        <img src="{{image.image.url}}">
                        <!-- Next and previous buttons-->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- Images with under bar-->
                    <div class="under-bar">
                    {% for image in contact.images.all %}
                        {% if image %}
                        <div class="img-container">
                            <img class="demo" src="{{image.image.url}}" onclick="currentSlide({{forloop.counter}})" alt="img">
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="post__content">
                <div class="post__desc">{{contact.desc}}</div>

                {% if contact.file_attach %}
                    <div class="post__file"><a href="{{ contact.file_attach.url }}">시안 첨부파일 보기</a></div>
                {% else %}
                    <div class="post__file">시안 첨부파일이 없습니다.</div>
                {% endif %}
            </div>
        </div>
        <div class="post__comment">
            <div id="comment" class="createComment createComment-{{contact.id}}">
                <textarea class="comment__value" type="text" placeholder="이 개인작업에 대해 어떻게 생각하시나요?"></textarea>
                <input class="comment__btn" onclick="onClickNewComment({{ contact.id }})" type="submit" value="댓글 게시">
            </div>
            <div class="comments-{{ contact.id }} comments">
                {% for comment in contact.comments.all %}
                <div class="comment comment-{{ comment.id }}">
                    <div class="comment__wrapper">
                        <div class="comment__item">
                            <div class="comment__writer-img">
                            <img src="{{comment.writer.image.url}}" alt="img">
                            </div>
                            <div class="comment__content">
                                <div class="comment__top-info">
                                    <span class="comment__writer">{{ comment.writer }}</span>
                                    {% if comment.created_string == False %}
                                    <span class="comment__date">{{ comment.created_at|date:'m월 d일' }}</span>
                                    {% else %}
                                    <span class="comment__date">{{ comment.created_string }}</span>
                                    {% endif %}
                                </div>
                                <span class="comment__text">{{ comment.content }}</span>
                            </div>
                        </div>
                        <input class="comment__delete-btn comment-btn" onclick="onClickDeleteComment({{ comment.id }})" type="submit" value="삭제">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>     
        <div class="post__line"></div>
        <div class="post__list-btn">
            <a href="{% url 'contact:contact_list'%}">목록보기</a> 
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    var userImage = '{{request.user.image.url}}';
    var writer = '{{request.user}}';
</script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b6bc437b6340a6a287508c2a0e89a88b&libraries=services"></script>
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contact_save.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contact_comment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map/contact_detail_map.js' %}"></script>
<script type="text/javascript" src="{% static 'js/post_delete.js' %}"></script>
{% endblock script %}



